body {
  padding: 20px;
  margin: 0;
  background: #f3f4f6;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.container {
  padding: 8px;
  display:flex;
  gap:16px;
  flex-wrap:wrap;
}

.pokemon-card {
  background: rebeccapurple;
  display: -ms-grid;
  display: grid;
  width: 250px;
  min-width: 150px;
  height: 372px;
  border-radius: 15px;
  border: 15px solid #e7c30d;
  overflow: hidden;
  font-family: arial, sans-serif;
  -webkit-box-shadow: 20px 12px 20px 0px black;
  box-shadow: 20px 12px 20px 0px black;
  position: relative;
}

.pokemon-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  -webkit-filter: hue-rotate(140deg);
  filter: hue-rotate(140deg);
}

.title-row {
  display: -ms-grid;
  display: grid;
  grid-template-areas: "rarity rarity rarity"
 "name health type";
  -ms-grid-columns: auto 75px 25px;
  grid-template-columns: auto 75px 25px;
  -ms-grid-rows: 15px 25px;
  grid-template-rows: 15px 25px;
  margin: 5px 20px 0px 20px;
  -webkit-box-align: center;
  -ms-flex-align: center ;
  align-items: center;
  -webkit-column-gap: 5px;
  column-gap: 5px;
}

.title-row h1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: name;
}

.title-row p {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: health;
  font-weight: bold;
  font-size: 17px;
  text-align: right;
  color: red;
  position: absolute;
  right:80px;
  top: -50px;
}

.title-row img{
  position: absolute;
  right:-1px;
  top: 8px;
  width: 40px;
  height: 40px;
}

.pokemon-image {
  margin: 0 20px;
  height: 120px;
  border: 5px solid yellow;
  overflow: hidden;
}

.pokemon-image img {
  height: 130px;
  width: fit-content;
}

.pokemon-move {
  align-content: start;
  text-align: left;
  margin: 0px 10px;
}

.pokemon-move img{
  justify-content: start;
  width:16px;
  height:16px;
}

.pokemon-move h1 {
  text-align: left;
  font-size: 12px;
}

.pokemon-stats{
  justify-content: center;
}

.pokemon-stats-text h1{
  font-size:12px;
  text-align: center;
}

.pokemon-resistance {
  text-align: left;
}

.pokemon-weakness {
  text-align: right;
}

.pokemon-stats-types img{
  width:18px;
  height:18px;
}

.res {
  position: absolute;
  left: 54px;
  bottom: -2px;
}

.wek {
  position: absolute;
  right: 48px;
  bottom: -2px;
}

.edit {
  position: absolute;
  right: 40px;
  top:200px;
}

a:link {
  color: red;
}
a:visited {
  color: red;
}